.accessBarriers {
    padding: 125px 0;

    @media (max-width: 768px) {
        padding: 80px 0;
    }
}

.title {
    margin-bottom: 70px;
    text-align: center;
    color: var(--color-deep-teal);

    @media (max-width: 768px) {
        margin-bottom: 40px;
    }

    strong {
        color: var(--color-amber-glow);
        font-weight: 600;
    }
}

.inner {
    @media (max-width: 768px) {
        padding: 0 10px;
    }
}

.list {
    display: flex;
    gap: 16px;
    justify-content: center;

    @media (max-width: 768px) {
        flex-direction: column;
    }
}

.item {
    display: flex;
    align-items: center;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.75);
    box-shadow: 0 4px 25px 0 rgba(82, 82, 82, 0.08);
    backdrop-filter: blur(12.5px);
    padding: 20px 40px;
    width: 100%;
    max-width: 505px;
    min-height: 175px;

    @media (max-width: 768px) {
        max-width: 100%;
        padding: 50px 20px;
        min-height: unset;
    }
}

.border {
    border: 2px solid var(--color-soft-aqua);
}

.text {
    color: var(--color-dark-green);
    font-weight: 400;

    strong {
        font-weight: 600;
    }
}

.icon {
    width: 72px;
    height: 72px;
    max-width: 72px;
    flex: 1 0 auto;
    margin: 0 -45px;
    position: relative;
    z-index: 1;
    align-self: center;

    @media (max-width: 768px) {
        transform: rotate(90deg);
        margin: -45px 0;
    }

    img {
        width: 100%;
        height: 100%;
    }
}