.imageTextV2 {
    padding: 125px 0;

    @media (max-width: 768px) {
        padding: 80px 0;
    }
}

.inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;

    @media (max-width: 768px) {
        flex-direction: column;
        gap: 30px;
    }
}

.textContent {
    max-width: 520px;

     @media (max-width: 768px) {
        max-width: 100%;
    }
}

.title {
    color: var(--color-deep-teal);
    margin-bottom: 25px;

    strong {
        color: var(--color-amber-glow);
        font-weight: 600;
    }
}

.text {
    color: var(--color-dark-green);
    
    strong {
        font-weight: 600;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-left: 15px;

        li {
            list-style-image: url('/check.svg');
        }
    }
}

.image {
    width: calc(642/445 * 100%);
    max-width: 640px;

    @media (max-width: 768px) {
        width: 100%;
        max-width: 100%;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}