.prefooterHome {
    padding: 100px 0 160px;
    overflow: hidden;

    @media (max-width: 768px) {
        padding: 80px 0;
    }
}

.prefooterHomeWrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px;

    @media (max-width: 1025px) {
        flex-direction: column;
    }

    @media (max-width: 768px) {
        padding: 0 10px;
        gap: 40px;
    }
}

.prefooterHomeTitle {
    color: var(--color-deep-teal);

    strong {
        font-weight: 600;
        color: var(--color-amber-glow);
    }
}

.prefooterHomeText {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @media (max-width: 1025px) {
        width: 100%;
    }

    p {
        background: var(--color-soft-aqua);
        padding: 14px 32px;
        width: max-content;
        border-radius: 6px;
        color: var(--color-white);
        font-size: var(--font-body-1);
        line-height: 1.5;

         @media (max-width: 1025px) {
            width: 100%;
            text-align: left;
            padding: 12px 32px;
        }
    }
}
