.coverageWaterfall {
    padding: 125px 0;
    background: url("/coverageWaterfallBg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (max-width: 768px) {
        padding: 80px 0;
    }
}

.inner {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 768px) {
        padding: 0 10px;
    }
}

.tag {
    color: var(--color-white);
    margin-bottom: 40px;
    font-weight: 600;
    text-align: center;
    padding: 10px 28px;
    font-size: var(--font-body-1);
    border-radius: 50px;
    background: linear-gradient(90deg, #55B2B2 0%, #036C71 100%);

    @media (max-width: 768px) {
        font-size: 12px;
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
    }
}

.title {
    color: var(--color-deep-teal);
    text-transform: capitalize;
    margin-bottom: 25px;
    text-align: center;
    font-weight: 600;

    strong {
        color: var(--color-amber-glow);
        font-weight: 600;
    }
}

.text {
    max-width: 800px;
    text-align: center;
    font-size: 18px;

    @media (max-width: 768px) {
        margin-bottom: 40px;
        font-size: var(--font-body-1);
    }
}

.image {
    width: 100%;
    max-width: 800px;

    @media (max-width: 575px) {
        height: 300px;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.quote {
    position: relative;
    max-width: 620px;
    padding: 38px 16px 20px;
    margin-top: 70px;
    border-radius: 16px;
    border: 2px solid var(--color-soft-aqua);
    background: rgba(255, 255, 255, 0.75);
    box-shadow: 0 4px 25px 0 rgba(82, 82, 82, 0.08);
    backdrop-filter: blur(12.5px);

    @media (max-width:768px) {
       padding: 40px 16px 24px;
       text-align: center;
    }
}

.icon {
    position: absolute;
    top: -40px;
    transform: translateX(-50%) rotate(90deg);
    left: 50%;
    width: 72px;
    height: 72px;
    color: var(--color-dark-green);

    img {
        width: 100%;
        height: 100%;
    }
}