.CostBurnout {
    padding: 125px 0;
    background: var(--color-soft-aqua);
    border-radius: 10px;
    margin-bottom: 30px;

    @media (max-width: 768px) {
        margin-bottom: 20px;
    }
}

.inner {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    justify-content: space-between;

    @media (max-width: 768px) {
        flex-direction: column;
        gap: 20px;
        padding: 0 10px;
    }
}

.title {
    color: var(--color-white);

    @media (max-width: 768px) {
        text-align: center;
        margin: 0 auto 20px;
    }
}

.text {
    color: var(--color-white);

    strong {
        font-weight: 600;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-left: 15px;

        li {
            list-style-image: url('/check_white.svg');
        }
    }
}