.governmentAssistance {
    padding: 125px 0;

    @media (max-width: 768px) {
        padding: 80px 0;
    }
}

.inner {
    @media (max-width: 768px) {
        padding: 0 10px;
    }
}


.title {
    max-width: 880px;
    margin: 0 auto 20px;
    color: var(--color-deep-teal);
    text-transform: capitalize;
    text-align: center;

    @media (max-width: 1025px) {
        max-width: 100%;
        text-align: center;
    }

    strong {
        color: var(--color-amber-glow);
        font-weight: 600;
    }
}

.text {
    text-align: center;
    color: var(--color-dark-green);
    line-height: 1.37;
}


.list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    position: relative;
    margin-top: 70px;

    @media (max-width: 768px) {
        margin-top: 40px;
    }
}

.item {
    width: calc(33.33% - 14px);
    padding: 32px 45px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.75);
    box-shadow: 0 4px 25px 0 rgba(82, 82, 82, 0.08);
    backdrop-filter: blur(12.5px);
    overflow: hidden;

    @media (max-width: 991px) {
        padding: 20px;
    }

    @media (max-width: 768px) {
        width: 100%;
    }
    

    &:nth-child(4) {
        width: calc(66.66% - 6px);
        display: flex;
        align-items: center;

        @media (max-width: 768px) {
            width: 100%;
        }
    }
}


.itemImage {
    padding: 0;

    @media (max-width: 768px) {
        height: 200px;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.itemTitle {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
    color: var(--color-deep-teal);
    text-transform: uppercase;

    @media (max-width: 768px) {
        font-size: var(--font-body-1);
        text-align: center;
    }
}

.itemText {
    font-size: var(--font-body-1);
    font-weight: 400;
    color: var(--color-dark-green);
    line-height: 1.37;

    @media (max-width: 768px) {
        text-align: center;
    }
}