.titleText {
    padding: 135px 0 50px;
    position: relative;
    z-index: 1;
    overflow: hidden;

    @media (max-width: 768px) {
        padding: 80px 0;
    }
}

.titleTextWrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px;

    @media (max-width: 768px) {
        padding: 0 10px;
        gap: 20px;
    }
}

.content {
    display: flex;
    align-items: center;
    gap: 60px;
    width: 100%;

    @media (max-width: 768px) {
        flex-direction: column-reverse;
        gap: 20px;
    }
}

.title {
    font-weight: 600;
    color: var(--color-deep-teal);
    text-transform: capitalize;

    strong {
        font-weight: 600;
        color: var(--color-amber-glow);
    }
}

.text {
    flex: 1;
    max-width: 525px;
    font-size: var(--font-body-1);
    color: var(--color-dark-green);
    font-weight: 400;
    line-height: 1.375;

        ul {
            padding-left: 10px;
            margin-left: 10px;

            li {
                list-style: disc;
                line-height: 1.375;

                &::marker {
                    font-size: 10px;
                }
            }
        }

    @media screen and (max-width: 1025px) {
        max-width: 100%;    
        
        p {
            text-align: left;
        }
    }
}

.imageWrapper {
    width: 50%;

    @media (max-width: 768px) {
        width: 100%;
    }
}

.image {
    height: 350px;

    @media (max-width: 768px) {
        width: 100%;
        height: 160px;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}