.impact {
    height: 700px;
    margin: 50px 0;
    display: flex;
    align-items: center;
    position: relative;
    background: url("/impactV2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @media (max-width: 768px) {
        margin: 30px 0 10px;
        height: 570px;
    }
}

.inner {
    @media (max-width: 768px) {
        padding: 0 10px;
    }
}

.textContent {
    max-width: 600px;
    margin: 0 auto;

    @media (max-width: 768px) {
        max-width: 400px;
    }
}

.title {
    color: var(--color-deep-teal);
    text-align: center;
    margin-bottom: 25px;
}

.text {
    text-align: center;
    color: var(--color-dark-green);
    font-size: 18px;
}
