.imageList {
    padding: 125px 0;

    @media (max-width: 768px) {
        padding: 80px 0;
    }
}

.inner {
    @media (max-width: 768px) {
        padding: 0 10px;
    }
}

.title {
    max-width: 600px;
    margin: 0 auto 30px;
    text-align: center;
    color: var(--color-deep-teal);

    strong {
        color: var(--color-amber-glow);
        font-weight: 600;
    }
}

.text {
    text-align: center;
    color: var(--color-dark-green);
    margin-bottom: 70px;

    @media (max-width: 768px) {
        margin-bottom: 40px;
    }
}


.content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
        gap: 20px;
    }
}

.textContent {
    padding-top: 10px;
}

.subtitle {
    color: var(--color-dark-green);
    font-weight: 600;
    margin-bottom: 24px;
    padding-left: 24px;

    @media (max-width: 768px) {
        margin-bottom: 12px;
    }
}

.list {
    padding: 30px 24px 16px;
    border-radius: 16px;
    background: var(--color-teal);
    box-shadow: 0 4px 25px 0 rgba(82, 82, 82, 0.08);
    color: var(--color-white);

    @media (max-width: 768px) {
        padding: 24px 16px 10px;
    }
}

.image {
    width: 100%;
    max-width: 590px;
    aspect-ratio: 600/515;

    @media (max-width: 768px) {
        order: 2;
    }

    img {
        width: 100%;
        height: 100%;
    }
}

.list  ol {
    padding-left: 20px;
    margin: 0;

    li {
        margin-bottom: 15px;
        font-weight: 500;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.list ul {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: 24px;

    li {
        display: flex;
        gap: 12px;
        padding: 14px 20px;
        color: var(--color-dark-green);
        background-color: var(--color-white);
        border-radius: 16px;

        @media (max-width: 768px) {
            padding: 10px;
            border-radius: 8px;
        }
    }
}

.quote  {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 14px 24px;
    margin-top: 24px;

    @media (max-width: 768px) {
        padding: 0;
    }

    div {
        padding-left: 18px;
        border-left: 2px solid var(--color-soft-aqua);
    }

}