.graphic {
    padding: 125px 0 0;
    background-color: var(--color-light-grey);
    border-radius: 10px;
    overflow: hidden;

    @media (max-width: 768px) {
        padding: 70px 0 20px;
    }
}

.graphicWrapper {
    @media (max-width: 768px) {
        padding: 0 10px;
    }
}

.graphicTitle {
    margin-bottom: 20px;
    text-align: center;
    color: var(--color-deep-teal);
    font-weight: 600;
    text-transform: capitalize;

    strong {
        color: var(--color-amber-glow);
        font-weight: 600;
    }
}

.graphicSubtitle {
    font-size: var(--font-body-1);
    color: var(--color-dark-green);
    text-align: center;
}

.graphicImage {
    width: 100%;
    overflow: hidden;

    svg {
        border-radius: 10px;
        overflow: hidden;
    }

    @media (max-width: 768px) {
        margin-top: 40px;
    }

    .desktop {
        @media (max-width: 768px) {
            display: none;
        }
    }

    .mobile {
        display: none;

        @media (max-width: 768px) {
            display: block;
        }
    }
}